
<detalle-cliente *ngIf="selectedClient" [cliente] ="selectedClient"></detalle-cliente>

<div class="card border-primary mb-3" >
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
        No hay registro en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear factura</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="openModal(cliente)" *ngIf="cliente?.image" src="http://localhost:8080/api/uploads/img/{{cliente.image}}" alt="Foto del cliente"
           style="width: 64px; cursor: pointer;" class="img-thmbnail rounded">
           <img (click)="openModal(cliente)" *ngIf="!cliente?.image" src="http://localhost:8080/images/notuser.png" alt="Sin foto"
           style="width: 64px; cursor: pointer;" class="img-thmbnail rounded">
          </td>
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.lastname | uppercase }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date:"fullDate" }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" name="creaeFactura" [routerLink]="['/facturas/form', cliente.id]" class="btn btn-success btn-sm">Crear Factura</button></td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar"  class="btn btn-danger btn-sm" (click)="delete(cliente)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator] = "paginator"></paginator-nav>
  </div>
</div>
